.section.filters.container-fluid.col-3
  %h3.d-flex.align-items-center
    .flex-grow-0
      %i.fa.fa-long-arrow-left.pointable#toggleFilters
    .flex-grow-1.text-center
      Filters

  .content
    .float-right
      = link_to 'Reset filters', url_for(), class: 'btn btn-outline-secondary'
    .clearfix

    %p
    = form_tag '', method: :get, enforce_utf8: false, remote: true, id: 'filtersForm' do
      .form-row
        .col-4
          .form-group
            = select_tag :office, options_for_select(Office.all.map { |office| [office.name, office.id] }, params[:office]), prompt: 'Office', class: 'custom-select'
        .col-4
          .form-group
            = select_tag :role, options_for_select(Employee.roles.reject { |r| r == 'admin' }.map { |k, v| [k.humanize, v] }, params[:role]), prompt: 'Role', class: 'custom-select'
        .col-4
          .form-group
            = select_tag :department, options_for_select(Employee.departments.map { |k, v| [k.humanize, v] }, params[:department]), prompt: 'Department', class: 'custom-select'
      .form-row
        .col-4
          .form-group
            = select_tag :status, options_for_select(Employee.statuses.map { |k, v| [k.humanize, v] }, params[:status]), prompt: 'Status', class: 'custom-select'
      .form-row
        .col-12
          .form-group
            - @skills.to_a.group_by(&:skill_type).each do |skill_type, skills|
              %h4= skill_type&.humanize
              %p
                .form-row
                  - skills.each_slice(skills.size / 3) do |skill_slice|
                    .col-4
                      - skill_slice.each do |skill|
                        %label.form-check-label
                          .skill-group
                            .checkbox
                              = check_box_tag 'skills[]', skill.name, params[:skills]&.include?(skill.name), id: "skill_#{skill.id}"
                            .label
                              = skill.name
                        %br

      .position-relative
        .filter-area
          = submit_tag 'Filter', class: 'd-none', name: nil
          &nbsp;
