= form_for @employee do |f|
  .form-row
    .col-6
      .form-group
        = f.text_field :first_name, placeholder: true, class: 'form-control'
    .col-6
      .form-group
        = f.text_field :last_name, placeholder: true, class: 'form-control'
  .form-row
    .col-12
      .form-group
        = f.text_field :email, placeholder: true, class: 'form-control'
  .form-row
    .col-6
      .form-group
        = f.text_field :main_skill, placeholder: true, class: 'form-control'
    .col-6
      .form-group
        = f.text_field :phone, placeholder: true, class: 'form-control'
  .form-row
    .col-6
      .form-group
        = f.text_field :office, placeholder: true, class: 'form-control'
    .col-6
      .form-group
        = f.text_field :skype, placeholder: true, class: 'form-control'
  .form-row
    .col-6
      .form-group
        = f.label :role
        = f.select :role, Employee.roles.keys, {}, class: 'form-control'
    .col-6
      .form-group
        = f.label :department
        = f.select :department, Employee.departments.keys, {}, class: 'form-control'
  .form-group
    .custom-file
      = f.label :image, class: 'custom-file-label'
      = f.fields_for :image do |image_fields|
        = image_fields.file_field :image, class: 'custom-file-input'
  .form-group
    = f.text_area :description, placeholder: true, cols: 12, rows: 5, class: 'form-control'
  .form-group
    %btn.btn.btn-outline-success#addAdditionalField Add additional field
  .form-group
    = f.fields_for :additional, multiple: :multiple do
      #additionalFields
  .form-group
    = f.submit class: 'btn btn-outline-success'
