.section.filters
  %h3 Filters
  = form_tag '', :method => :get do
    %p
      = select_tag :office, options_for_select(Employee.offices.map {|k, v| [k.humanize, v]}), prompt: 'Select office'
    %p
      = select_tag :role, options_for_select(Employee.roles.map {|k, v| [k.humanize, v]}), prompt: 'Select role'
    %p
      = select_tag :department, options_for_select(Employee.departments.map {|k, v| [k.humanize, v]}), prompt: 'Select department'
    %p
      - @skills.each do |skill_type, skills|
        %h4= skill_type&.humanize
        %p
          - skills.each do |skill|
            = link_to skill.name, '#', class: ''
            = check_box_tag "skills[]", skill.name
        %hr
    %p
      = submit_tag 'Filter'

