.pdf-generator
  .title
  %h4
    Select the employee fields that you need in the PDF file:
  .checkboxes
    .form-row
      .col
        .form-check
          = label_tag do
            = check_box_tag('pdfEmployeeAll', value: 'all', class: 'form-check-input')
            Select all
    .fields
      .form-row
        .col-4
          .form-check
            = label_tag do
              = check_box_tag('mname', checked: false, class: 'form-check-input')
              Name
          .form-check
            = label_tag do
              = check_box_tag('mrole', checked: false, class: 'form-check-input')
              Role
          .form-check
            = label_tag do
              = check_box_tag('memail', checked: false, class: 'form-check-input')
              Email
        .col-4
          .form-check
            = label_tag do
              = check_box_tag('mphone', checked: false, class: 'form-check-input')
              Phone
          .form-check
            = label_tag do
              = check_box_tag('mskype', checked: false, class: 'form-check-input')
              Skype
          .form-check
            = label_tag do
              = check_box_tag('mdescription', checked: false, class: 'form-check-input')
              Description
        .col-4
          .form-check
            = label_tag do
              = check_box_tag('madditional', checked: false, class: 'form-check-input')
              Additional
          .form-check
            = label_tag do
              = check_box_tag('mskills', checked: false, class: 'form-check-input')
              Skills
          .form-check
            = label_tag do
              = check_box_tag('mprojects', checked: false, class: 'form-check-input')
              Projects
    .form-group.float-right
      = link_to 'Generate', employee_path(@employee, format: :pdf), html_options = { class: 'btn btn-outline-secondary', id: 'linkToPdf' }