.employees
  .row
    .col-3
      = render 'filters'
    .col-3
      = render 'employee_list'
    .col-6
      .section.last.profile
        .row
          .col-5
            = image_tag @employee.avatar, class: 'img-fluid'
          .col-7
            %span.link.pointable{'data-target' => '#editModal', 'data-toggle' => 'modal'}
              Edit
            = render 'layouts/modal', { modal_id: 'editModal', modal_title: 'Edit Employee' } do
              .modal-body
                = render template: 'employees/edit'
            |
            = link_to 'Delete', employee_path(@employee), method: :delete

            %h2
              = @employee.name
              .float-right
                = @employee.main_skill
                = role(@employee)

            %h5
              Office:
              = @employee.office

            %p
              Email:
              = @employee.email
              %br
              Phone:
              = @employee.phone
              %br
              Skype:
              = @employee.skype
              %p
                = @employee.description

        - if @employee.skills.present?
          %h3 Skills
          %hr
          .row
            .col-12
              - @employee.skills.each do |skill|
                %span.link.pointable{'data-target': '#editSkillModal', 'data-toggle': :modal}
                  .skill= skill.name
                = render 'layouts/modal', { modal_id: 'editSkillModal', modal_title: "Edit Skill [#{skill.name}]" } do
                  .modal-body
                    = render 'employees/resource_skill_form', resource_skill: skill.resource_skills.find_by(employee_id: @employee.id)
        - if @employee.projects.present?
          %br
          .row
            .col-6
              %h3 Projects
            .col-6
              %span.link.pointable{'data-target': '#addProjectToEmployee', 'data-toggle': :modal}
                .float-right
                  %btn.btn.btn-outline-success Add project
              = render 'layouts/modal', { modal_id: 'addProjectToEmployee', modal_title: 'Add project' } do
                .modal-body
                  = render 'projects/form', project: @employee.projects.new, employee: @employee
          %hr
          .row
            .col-12
              - @employee.projects.order('created_at DESC').each do |project|
                .row
                  .col-4
                    = project.image
                  .col-8
                    %span.link.pointable{'data-target': "#editProjectAtEmployee_#{project.id}", 'data-toggle': 'modal'}
                      Edit
                    = render 'layouts/modal', { modal_id: "editProjectAtEmployee_#{project.id}", modal_title: 'Edit employee project' } do
                      .modal-body
                        = render 'projects/form', project: project, employee: @employee
                    |
                    = link_to 'Delete', project_path(project.id, employee_id: project.employee_id), method: :delete
                    %h3
                      = project.name
                      - if project.client
                        .float-right
                          %small
                            Client:
                            = project.client
                    = project.link
                    %br
                    = "#{project.start_date.strftime('%d/%m/%Y')} - #{project.end_date.strftime('%d/%m/%Y')}"
                    %br
                    = project.description

                .row
                  .col-12
                    - project.skills.each do |skill|
                      .skill.ruby= skill.name
                %hr