.employee-pdf
  .who.full-width.d-inline-block
    - if keys[:mname] == 'true'
      .name.half-width
        %h1
          = @employee.name
    - if keys[:mrole] == 'true'
      .description.half-width
        %h2= "#{@employee.main_skill} #{role(@employee)}"

  .intro.full-width.d-inline-block
    .avatar.half-width.auto-height.float-left.mr-1.p
      = wicked_pdf_image_tag @employee.avatar, class: 'image-content'
    .info.ml-1
      %p
        - if keys[:memail] == 'true'
          Email:
          = @employee.email
          %br
        - if keys[:mphone] == 'true'
          Phone:
          = @employee.phone
          %br
        - if keys[:mskype] == 'true'
          Skype:
          = @employee.skype
          %br
      - if keys[:mdescription] == 'true'
        %p
          = raw @employee.description
  %br
  - if keys[:madditional] == 'true'
    - if @employee.additional.present?
      .additional.d-block.full-block
        %h3 Additional information:
        %hr.mt.mb
        .d-block
          - @employee.additional.each do |key, value|
            .d-block
              %b= key.humanize + ':'
            .d-block
              = raw value
            %br
      %br
  - if keys[:mskills] == 'true'
    - if @employee.skills.present?
      .skills
        %h2 Skills
        %hr.mt.mb
        .d-block
          - @employee.skills.to_a.group_by(&:skill_type).each do |skill_type, skills|
            .d-block
              %p
                %h3= pluralize(skills.size, skill_type&.humanize)
                = skills.pluck(:name).join('/')
      %br
  - if keys[:mprojects] == 'true'
    - if @employee.projects.reject(&:new_record?).present?
      .projects
        %h3 Projects
        %hr.mt.mb
        - @employee.projects.order('created_at DESC').reject(&:active).each do |project|
          = render 'projects/project_pdf', project: project