.employees
  .row
    .col-3
      = render 'filters'
    .col-3
      = render 'employee_list'
    .col-6
      .section.last.profile
        .row
          .col-5
            = image_tag @employee.avatar, class: 'img-fluid'
          .col-7
            - able_edit do
              %span.link.pointable{'data-target' => '#editModal', 'data-toggle' => 'modal'}
                Edit
              = render 'layouts/modal', { modal_id: 'editModal', modal_title: 'Edit Employee' } do
                .modal-body
                  = render template: 'employees/edit'
            - if current_employee&.admin?
              |
              = link_to 'Delete', employee_path(@employee), method: :delete, data: {confirm: 'Are you sure?'}

            %h2
              = @employee.name
              .float-right
                = @employee.main_skill
                = role(@employee)

            %h5
              Office:
              = @employee&.office&.humanize

            - unless current_employee.developer? && current_employee != @employee
              %p
                Email:
                = @employee.email
                %br
                Phone:
                = @employee.phone
                %br
                Skype:
                = @employee.skype
            %p
              = raw @employee.description

        - if @employee.additional.present?
          %h3 Additional information:
          .row
            .col-12
              - @employee.additional.each do |key, value|
                .row
                  .col-2
                    %b= key.humanize + ':'
                  .col-10
                    = raw value

        %br
        - if @employee.skills.present?
          %h3 Skills
          %hr
          .row
            - employee_skills = @employee.skills.to_a.group_by(&:skill_type)
            - employee_skills.each do |skill_type, skills|
              %div{ class: "col-#{12 / employee_skills.size}" }
                %h5= skill_type&.humanize
                - skills.each do |skill|
                  %span.link.pointable{ 'data-target': "#editSkillModal_#{skill.id}", 'data-toggle': :modal, title: "Experience: #{skill.experience(@employee)}" }
                  - if able_edit?
                    = link_to skill.display_name(@employee.id), skill_path(skill, employee_id: @employee.id), remote: true
                    %br
                  - else
                    %p= skill.display_name(@employee.id)

        - if @employee.projects.reject(&:new_record?).present?
          %br
          .row
            .col-6
              %h3 Projects
            .col-6
              - able_edit do
                %span.link.pointable{ 'data-target': '#addProjectToEmployee', 'data-toggle': :modal }
                  .float-right
                    %btn.btn.btn-outline-success Add project
                = render 'layouts/modal', { modal_id: 'addProjectToEmployee', modal_title: 'Add project' } do
                  .modal-body
                    = render 'projects/form', project: @project, employee: @employee, path: employee_projects_path(@employee)
          %hr

          .row
            .col-12
              - @employee.projects.order('created_at DESC').each do |project|
                .row
                  .col-4
                    = image_tag project.avatar, class: 'img-fluid'
                  .col-8
                    - able_edit do
                      %span.link.pointable{ 'data-target': "#editProjectAtEmployee_#{project.id}", 'data-toggle': 'modal' }
                        Edit
                      = render 'layouts/modal', { modal_id: "editProjectAtEmployee_#{project.id}", modal_title: 'Edit employee project' } do
                        .modal-body
                          - project.image = Image.new unless project.image.present?
                          = render 'projects/form', project: project, employee: @employee, path: employee_project_path(@employee, project)
                      |
                      = link_to 'Delete', employee_project_path(project.id, employee_id: project.employee_id), method: :delete, data: {confirm: 'Are you sure?'}

                    %h3
                      = project.name
                      - if project.client
                        .float-right
                          %small
                            Client:
                            = project.client

                    = project.link
                    %br
                    - if project.start_date && project.end_date
                      = "#{project.start_date.strftime('%d/%m/%Y')} - #{project.end_date.strftime('%d/%m/%Y')}"
                    %br
                    = raw project.description

                .row
                  .col-12
                    - project.skills.each do |skill|
                      = skill.name
                      = raw '/'
                %hr
        - elsif @employee.projects.reject(&:new_record?).empty? && able_edit?
          %br
          .row
            .col-6
              %h3 Projects
            .col-6
              - able_edit do
                %span.link.pointable{ 'data-target': '#addProjectToEmployee', 'data-toggle': :modal }
                  .float-right
                    %btn.btn.btn-outline-success Add project
                = render 'layouts/modal', { modal_id: 'addProjectToEmployee', modal_title: 'Add project' } do
                  .modal-body
                    = render 'projects/form', project: @project, employee: @employee, path: employee_projects_path(@employee)