.employees
  .row
    - unless current_employee.developer?
      = render 'filters'
      = render 'employee_list'
    %div{class: current_employee.developer? ? 'col-6 mx-auto' : 'col mx-auto'}
      .section.last.profile
        .row
          .col-5
            = image_tag @employee.avatar, class: 'img-fluid'
          .col-7
            - able_edit do
              %span.link.pointable{'data-target' => '#editModal', 'data-toggle' => 'modal'}
                Edit
              = render 'layouts/modal', { modal_id: 'editModal', modal_title: 'Edit Employee', large: true } do
                .modal-body
                  = render template: 'employees/edit'
            - if current_employee&.admin?
              |
              = link_to 'Delete', employee_path(@employee), method: :delete, data: {confirm: 'Are you sure?'}

            %h2
              = @employee.name
              .float-right
                = @employee.main_skill
                = role(@employee)

            %h5
              Office:
              = @employee&.office&.humanize
              - if current_employee.manager? || current_employee.admin?
                %b.float-right{class: "#{@employee.status}"}= @employee&.status&.humanize

            - unless current_employee.developer? && current_employee != @employee
              %p
                Email:
                = @employee.email
                %br
                Phone:
                = @employee.phone
                %br
                Skype:
                = @employee.skype
                %br
                Upwork:
                = link_to @employee.upwork, @employee.upwork, target: :blank

            - if (current_employee.admin? || current_employee.manager?) && @employee.managers.present?
              %p
                Managers:
                - @employee.managers.each do |manager|
                  = link_to manager.name, employee_path(manager)

            - if (current_employee.admin? || current_employee.manager?) && @employee.developers.present?
              %p
                Developers:
                - @employee.developers.each do |developer|
                  = link_to developer.name, employee_path(developer)

            %p
              = raw @employee.description

        - if @employee.additional.present?
          %h3 Additional information:
          .row
            .col-12
              - @employee.additional.each do |key, value|
                %p
                .row
                  .col-2
                    .bold= key.humanize + ':'
                  .col-10
                    = raw value
                  %br

        %br
        - if @employee.skills.present?
          %h3 Skills
          %hr
          .row
            - employee_skills = @employee.skills.to_a.group_by(&:skill_type)
            - employee_skills.each do |skill_type, skills|
              %div{ class: "col-#{12 / employee_skills.size}" }
                %h5= skill_type&.humanize
                - skills.each do |skill|
                  - if able_edit?
                    %span.link.pointable{ 'data-target': "#editSkillModal_#{skill.id}", 'data-toggle': :modal, title: "Experience: #{skill.experience(@employee)}" }
                      = link_to skill.display_name(@employee.id), skill_path(skill, employee_id: @employee.id), remote: true
                      %br
                  - else
                    = skill.display_name(@employee.id)
                    %br

        %p
        - if @employee.active_projects.present? || (@employee.manager? && @employee.manager_active_projects.present?)
          %h3 Active projects
          - if (@employee.developer? || @employee.team_lead?)
            - @employee.active_projects.each do |project|
              = render 'projects/project', project: project
          - elsif @employee.manager?
            - @employee.manager_active_projects.each do |project|
              = render 'projects/project', project: project

        - if @employee.projects.reject(&:new_record?).present?
          %br
          .row
            .col-6
              %h3 Projects
            .col-6
              - able_edit do
                %span.link.pointable{ 'data-target': '#addProjectToEmployee', 'data-toggle': :modal }
                  .float-right
                    %btn.btn.btn-outline-success Add project
                = render 'layouts/modal', { modal_id: 'addProjectToEmployee', modal_title: 'Add project', large: true } do
                  .modal-body
                    = render 'projects/form', project: @project, employee: @employee, path: employee_projects_path(@employee)
          %hr

          .row
            .col-12
              - @employee.projects.order('created_at DESC').reject(&:active).each do |project|
                = render 'projects/project', project: project

        - elsif @employee.projects.reject(&:new_record?).empty? && able_edit?
          %br
          .row
            .col-6
              %h3 Projects
            .col-6
              - able_edit do
                %span.link.pointable{ 'data-target': '#addProjectToEmployee', 'data-toggle': :modal }
                  .float-right
                    %btn.btn.btn-outline-success Add project
                = render 'layouts/modal', { modal_id: 'addProjectToEmployee', modal_title: 'Add project' } do
                  .modal-body
                    = render 'projects/form', project: @project, employee: @employee, path: employee_projects_path(@employee)