= form_for skill do |f|
  .form-group
    = f.label :name
    = f.text_field :name, placeholder: true, class: 'form-control', required: true
  .form-group
    = f.select :skill_type, Skill.skill_types.map {|k, v| [k.humanize, k]}, prompt: 'Select skill type', class: 'form-control', required: true
  = f.submit class: 'btn btn-success'
