.section.filters.container-fluid.skills
  %h3.text-center Skills

  .btn.btn-outline-success.float-right{'data-target' => '#newSkillModal', 'data-toggle': :modal} New Skill
  .clearfix

  = render 'layouts/modal', { modal_id: 'newSkillModal', modal_title: 'Create skill' } do
    .modal-body
      = render 'skills/form', skill: @skill

  - @skills.to_a.group_by(&:skill_type).each do |skill_type, skills|
    %h4= skill_type&.humanize
    .row
      - skills.each_slice(skills.size / 4) do |skill_slice|
        .col-3
          - skill_slice.each do |skill|
            - if skill.employee_id == current_employee.id
              %span.link.pointable{'data-target': "#editSkillModal_#{skill.id}", 'data-toggle': :modal, 'data-remote': :true}
              = link_to skill.name, skill_path(skill), remote: true
            -else
              = skill.name
            %br
    %p