= form_for project do |f|
  .form-group
    = f.hidden_field :employee_id, value: employee.id
  .form-group
    = f.text_field :name, class: 'form-control', placeholder: 'Name'
  .form-group
    = f.text_field :description, class: 'form-control', placeholder: 'Description'
  .form-group
    = f.text_field :client, class: 'form-control', placeholder: 'Client name'
  .form-group
  = f.text_field :link, class: 'form-control', placeholder: 'Link'
  .form-group
    = f.label 'Skills'
    = f.select(:skill_ids, @skills.pluck(:name, :id), {}, {class: 'select2-field', multiple: :multiple, placeholder: 'Skills'})
  .form-group
    = f.label 'Picture'
  .form-group
    = f.fields_for :image do |image_fields|
      = image_fields.file_field :image
  .row
    .col-6
      .form-group
        = f.label 'Start date'
        = f.date_field :start_date, class: 'form-control'
    .col-6
      .form-group
        = f.label 'End date'
        = f.date_field :end_date, class: 'form-control'
  .form-group
    = f.submit 'Create project', class: 'btn btn-outline-success'