.project.full-width.d-inline-block.no-break
  - if project.image&.image_url
    .avatar.half-width.auto-height.float-left.mr-1.p-non-top
      = wicked_pdf_image_tag project.avatar, class: 'image-content'
  .info.ml-1
    .title
      %h4
        = project.name
      - if project.client.present?
        .client
          %b
            Client: #{ project.client }
  .details.ml-1
    %b Live:
    = project.link
    %br
    %b Repository:
    = project.repository
    - if project.start_date && project.end_date
      %p= "#{project.start_date.strftime('%d/%m/%Y')} - #{project.end_date.strftime('%d/%m/%Y')}"
      %br
    = raw project.description

%hr