!!!
%html
  %head
    %title Employees
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/header'

    .notification.fixed-top
      - flash.each do |_name, message|
        .alert.alert-secondary.text-center
          = message
          %button.float-right.close{ 'data-dismiss': :alert, type: :button } ×
    .container-fluid
      = yield