!!!
%html
  %head
    %title Employees
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %nav.navbar.navbar-light.bg-light
        %a.navbar-brand FaceIT
        %form.form-inline
          .search
            %input.form-control.mr-sm-2{'aria-label' => 'Search', type: 'search'}/
          %button.btn.btn-outline-secondary.my-2.my-sm-0{type: 'submit'} Search
        %div
          - if current_employee&.admin?
            = link_to 'Invite Employee', new_employee_invitation_path
          - if current_employee
            = link_to 'Logout', destroy_employee_session_path, method: :delete
            &nbsp;
            = image_tag current_employee.image, size: '25x25', class: 'rounded'
          - else
            %span.link.pointable{'data-target' => '#loginModal', 'data-toggle' => 'modal', type: 'button'}
              Login

            .modal.fade#loginModal{'aria-labelledby' => 'myModalLabel', role: 'dialog', tabindex: '-1'}
              .modal-dialog{role: :document}
                .modal-content
                  .modal-header
                    %h5.modal-title Log in
                    %button.close{'aria-label' => 'Close', 'data-dismiss' => :modal, type: 'button'}
                      %span{'aria-hidden' => true} ×
                  .modal-body
                    = form_for :employee, url: employee_session_path, method: :post do |f|
                      .form-group
                        = f.email_field :email, class: 'form-control', placeholder: 'Email'
                      .form-group
                        = f.password_field :password, class: 'form-control', placeholder: 'Password'
                      .form-group
                        = f.submit 'Sign in', class: 'btn btn-success'
                  .modal-footer
                    = link_to 'Forgot your password?', new_password_path(:employee)

    .container-fluid
      = yield